---
layout: archive
title: "Research interests"
permalink: /research-interests/
author_profile: true
---
<p "Understanding Complex Living Systems under a framework given by Statistical Physics /p>

Although I may say that my specialization is in not specializing, my main research themes can be classified in three broad areas: 
1) The formulation of simple principles to explain self-organization and emergent simplicity in nature; 
2) Data analysis and complex network modeling and non-linear dynamics in socio-ecological systems; 
3) Criticality in living systems, with a particular focus on brain criticality.

In particular, my work focuses on the study of complex living systems under an theoretical framework provided by statistical mechanics. It addresses a wide range of related topics, including ecosystem organizations, ecological networks, stochastic modelling of ecosystems dynamics and eco-hydrological processes, sustainability and ecosystems services, brain networks and whole brain models. I address the above and topics from a comprehensive framework that include data mining, theoretical modeling (both computational and analytical) and statistical analysis.

Specific projects that I'm leading or where I'm involved can be found here: https://www.liphlab.com/ 



<--{% include base_path %}


{% for post in site.research-interests %}
  {% include archive-single.html %}
{% endfor %}-->
