---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
<p>This section is empty, for the moment.</p>

<header>
   <h1 id="other-documents"><Other documents</h1>
</header>
<p>I have gathered here some documents that I have written over the years when I was a student. They are mainly trascriptions in LaTeX of the notes that I have taken attending some courses.</p>

<p>BSc courses:</p>
<ul>
  <li><u><a href="/files/notes/Fisica_moderna.zip">Fisica moderna</a></u> (italian)</li>
  <li><u><a href="/files/notes/Campi.zip">Campi elettromagnetici</a></u> (italian)</li>
  <li><u><a href="/files/notes/Nucleare.zip">Istituzioni di Fisica Nucleare</a></u> (italian)</li>
  <li><u><a href="/files/notes/Teorica.zip">Istituzioni di Fisica Teorica</a></u> (italian)</li>
</ul>

<p>MSc courses:</p>
<ul>
  <li><u><a href="/files/notes/Astro_cosmo.zip">Istituzioni di Astrofisica e Cosmologia</a></u> (italian)</li>
  <li><u><a href="/files/notes/Sistemi_complessi.zip">Fisica dei Sistemi Complessi</a></u> (italian)</li>
  <li><u><a href="/files/notes/Statistical_mechanics.zip">Statistical mechanics</a></u> (english)</li>
</ul>
